:root{
    --dark-cyan: hsl(158, 36%, 37%);
    --cream:    hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

html, body, section{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;


}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cream);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
    border-radius: 10px;
}

.card1{
    height: 550px;
    width: 370px;
    border-radius: 10px 0px 0px 10px;
}

.img1{
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}
.card2{
    height: 550px;
    width: 300px;
    background-color: var(--White);
    margin: 0px 40px 0px 30px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titre1{
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 8px;
    padding: 0%;
    margin: 0;
    color: var(--Dark-grayish-blue);
}

.titre2{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    color: var(--Very-dark-blue);
}

.lorem{
    margin: 0%;
    padding: 0%;
}


.lorem1{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--Dark-grayish-blue);
    line-height: 28px;
    margin: 0;
}


.sous-boite{
    display: flex;
    width: 100%;
    gap: 25px;
    align-items: center;
    padding: 0;
    padding-left: 0;
    margin: 0;
}



.prix1{
    color: var(--dark-cyan);
    font-family: 'Fraunces', sans-serif;
    font-weight: 500;
    font-size: 35px;
    padding: 0%;
    margin: 0%;
}

.prix2{
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
    font-size: 18px;
    padding: 0%;
    margin: 0%;
    
}

.bouton-boite{
    display: flex;
    justify-content: center;
}

.bouton{
    width: 100%;
    height: 60px;
    background-color: var(--dark-cyan);
    color: var(--White);
    border: none;
    border-radius: 10px;
    font-size: 20px;
}


svg{
    padding-right: 10px;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }


@media only screen and (max-device-width: 375px){
    
    .container{
        flex-direction: column;
        width: 350px;
    }

    .card1{
        width: 350px;
        height: 280px;
    }

    .img1{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .card2{
        width: 310px;
    }

    .titre2{
        display: flex;
        flex-wrap: wrap;
    }

    .lorem:nth-child(2){
        display: flex;
    }
}